body {
    background: rgb(100, 100, 255);
    font: arial normal 15pt;
    text-align: center;
}

header {
    color: white; 
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.623) 5px 5px 10px;
}

footer {
    color: white; 
    font-style: italic;
}